# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development files
.idea/
*.iml

# Test reports and coverage data
htmlcov/
.coverage

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and temporary files
*.log
*.swp
*~

# Mac OS X
.DS_Store

# Manual test-related files
test.py
testing_*.py
test_data/
payload.json
comment.json
out.txt

# Github App Private Key
private_key.pem


# Qdrant vector DB
qdrant_storage/